doctype html
html(lang='en')
  head
    title Play Nine
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⛳️</text></svg>')
  body
    h1(class='text-center pt-3') 🏌️‍♀️ Play Nine! 🏌️‍♂️
    .pages
      div.container(id='enter room page')
        .container.w-50
          .d-flex.flex-column.justify-content-center.pt-4
            input.btn.btn-info(type='button' name='button' id='create lobby button' value='Create new game')
            
            .input-group.pt-3
              input.form-control(type='text' id='lobby field' placeholder='Lobby Id' aria-label='Enter Lobby Id' aria-describedby='basic-addon2' onSubmit='return false;')
              .input-append
                button.btn.btn-info(type='button' name='button' id='enter lobby button' value='Join game') Join game
              .invalid-feedback(id='lobby full' class='') This lobby is full or does not exist!
    
    .container(id='play game page' style='display:none')
      div(class='d-flex flex-column justify-content-center pt-3')
        h5.text-center(id='lobby header')
        
        .container.w-50.pt-3(id='score table' style='display:none')
          table.table
            tbody
              tr
                th(scope='row') opponent's score
                td(id='opponents score')
              tr
                th(scope='row') your score
                td(id='your score')
              tr
                th(scope='row')
                td
        
      .container.w-50
        div(class='container')
          div(class='d-flex flex-row justify-content-center pt-2') 
            for i of [0, 1, 2, 3]
                .pr-2 
                  input.btn.btn-warning(type='button' name='button' disabled=true id='opponentCard'+i value=i style='font-size:20px;width:50px;height:65px;text-align: center;')
          div(class='d-flex flex-row justify-content-center pt-2') 
            for i of [4, 5, 6, 7]
                .pr-2 
                  input(type='button' name='button' disabled=true id='opponentCard'+i value=i class='btn btn-warning' style='font-size:20px;width:50px;height:65px;text-align: center;')
        
        div(class='d-flex flex-row justify-content-center pt-4')
          div(class='d-flex flex-column')
            input(type='button' name='button' id='discard' class='btn btn-secondary' style='font-size:20px;width:50px;height:65px;text-align:center;')
            p(class='font-weight-light text-center' id='discard label') discard
          .pl-3.pr-3
          div(class='d-flex flex-column')
            input(type='button' name='button' disabled=true id='draw' class='btn btn-secondary' style='font-size:20px;width:50px;height:65px;text-align:center;')  
            p(class='font-weight-light text-center' id='draw label') draw
          
        .container
          div(class='d-flex flex-row justify-content-center') 
            for i of [0, 1, 2, 3]
                .pr-2 
                  input(type='button' name='button' disabled=true id='yourCard'+i value=i class='btn btn-info' style='font-size:20px;width:50px;height:65px;text-align:center;')
          div(class='d-flex flex-row justify-content-center pt-2') 
            for i of [4, 5, 6, 7]
                .pr-2 
                  input(type='button' name='button' disabled=true id='yourCard'+i value=i class='btn btn-info' style='font-size:20px;width:50px;height:65px;text-align:center;')

        div(class='d-flex flex-row justify-content-center') 
          p(id='your turn' style='display:none' class='text-center pt-1') it&apos;s your turn!
          p(id='opponents turn' style='display:none' class='text-center pt-1') it&apos;s your opponent&apos;s turn!
          
          input(type='button' name='button' id='skip' class='btn btn-link pt-2' value='skip turn')  
          
    script(src='/socket.io/socket.io.js')
    script(src='client.js' type='module')
